:root {
  /* colors */
  --dark-teal: #4d96a9;
  --light-teal: #8fe6f9;
  --dark-purple: #855fb1;
  --light-purple: #d9b8ff;
  --dark-grey: #28283d;
  --light-grey: #87879d;
  --white: #fafafa;
  /* font sizes */
  --primary-header-desktop: 4rem;
  --secondary-header-desktop: 2.5rem;
  --text-desktop: 1.125rem;
  --primary-header-mobile: 2.75rem;
  --secondary-header-mobile: 1.94rem;
  --text-mobile: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Extra small devices (mobiles, 600px and down) */

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: var(--text-mobile);
  line-height: 26px;
  color: var(--light-grey);
  background-color: #f2f2f2;
}

.navbar {
  padding: 2.75rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.header-image-container-left {
  margin-bottom: 3rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.header-image-mobile {
  width: 110%;
  height: 100%;
  object-fit: cover;
}

.header-image-desktop-left {
  display: none;
}

.header-image-container-right {
  display: none;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  font-size: var(--primary-header-mobile);
  line-height: 2.75rem;
  text-align: center;
  color: var(--dark-grey);
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.header-text {
  width: 80%;
  text-align: center;
  margin-bottom: 1rem;
}

.header-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 1rem 2.5rem;
  font-weight: 900;
  font-family: "Red Hat Display", sans-serif;
  font-size: var(--text-mobile);
  border-radius: 29px;
  color: var(--white);
  margin: 1rem;
  cursor: pointer;
}

.small {
  font-size: var(--text-mobile);
  font-weight: 900;
}

.button-primary {
  background-color: var(--dark-teal);
  border: 1px solid var(--dark-teal);
}

.button-primary:hover {
  background-color: #71c0d4;
  border: 1px solid #71c0d4;
}

.button-primary-small {
  color: #8fe3f9;
}

.button-secondary-small {
  color: #d9b8ff;
}

.button-secondary {
  background-color: var(--dark-purple);
  border: 1px solid var(--dark-purple);
}

.button-secondary:hover {
  background-color: #b18bdd;
  border: 1px solid #b18bdd;
}

.separator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}

.horizontal-line {
  height: 84px;
  width: 1px;
  background-color: rgba(135, 135, 157, 25%);
}

.circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: 1px solid rgba(135, 135, 157, 25%);
  font-weight: 900;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-image {
  margin: 0.75rem;
  width: 9.38rem;
  height: 8.94rem;
  border-radius: 20px;
}

.section-subtitle {
  font-weight: 900;
  color: var(--dark-teal);
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 52px 0 24px 0;
}

.section-header {
  font-size: var(--secondary-header-mobile);
  line-height: 2.25rem;
  color: var(--dark-grey);
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 900;
  width: 90%;
}

.section-text {
  width: 90%;
  text-align: center;
  margin-bottom: 2.25rem;
}

.second-separator {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  bottom: -1.75rem;
}

.second-section {
  background: url(./assets/mobile/image-footer.jpg);
  background-size: cover;
  position: relative;
  padding: 5.75rem 3.75rem 3.75rem 3.75rem;
}

.second-section > * {
  z-index: 1;
  color: var(--white);
  margin: 0 0 2rem 0;
}

.second-section > .button-secondary {
  z-index: 1;
  color: var(--white);
  margin: 0;
}

.second-section::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--dark-teal);
  opacity: 85%;
}

footer {
  padding: 1.25rem;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--dark-teal);
  cursor: pointer;
}

a:hover {
  color: #71c0d4;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header-container {
    margin-bottom: 4.5rem;
  }

  .header-title {
    font-size: 3rem;
    line-height: 3rem;
    width: 50%;
  }

  .header-text {
    width: 50%;
  }

  .header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-image-mobile {
    width: 110%;
  }

  .section-image {
    width: 10.25rem;
    height: 9.75rem;
  }

  .section-subtitle {
    margin: 2.25rem 0 1rem 0;
  }

  .section-header {
    font-size: var(--secondary-header-desktop);
    line-height: 2.75rem;
    width: 50%;
  }

  .section-text {
    width: 80%;
    margin-bottom: 5rem;
  }

  .second-section {
    background-image: url(./assets/tablet/image-footer.jpg);
  }

  .second-section > .section-header {
    font-size: 2.5rem;
  }

  .second-section > .section-text {
    margin-bottom: 2.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: var(--text-desktop);
  }

  .navbar {
    padding: 5rem 0 3.8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-image-mobile {
    display: none;
  }

  .header-image-container-left {
    margin: 0;
    width: auto;
    height: 21.875rem;
    align-items: flex-start;
  }

  .header-image-desktop-left {
    display: block;
    position: relative;
    left: -1.875rem;
  }

  .header-image-container-right {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    height: 21.875rem;
  }

  .header-image-desktop-right {
    display: block;
    position: relative;
    right: -1.875rem;
  }

  .header-title {
    width: 80%;
    font-size: var(--primary-header-desktop);
    line-height: 4rem;
    margin-bottom: 2.125;
  }

  .header-text {
    width: 80%;
  }

  .button {
    font-size: var(--text-desktop);
    margin-bottom: 0;
  }

  .section-images {
    width: 80%;
    justify-content: center;
  }

  .section-image {
    width: 15.938rem;
    height: 15.125rem;
    margin: 0.938rem;
  }

  .section-subtitle {
    margin: 4.063rem 0 1rem 0;
  }

  .section-header {
    width: 30%;
  }

  .section-text {
    width: 30%;
    margin-bottom: 4.5rem;
  }

  .second-section {
    background-image: url(./assets/desktop/image-footer.jpg);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 7.25rem 10.313rem 6.5rem 10.313rem;
  }

  .second-section > * {
    margin-bottom: 0rem;
    text-align: left;
  }

  .second-section > .section-text {
    margin-bottom: 0rem;
    width: 30%;
  }
}
