:root {
  /* colors */
  --dark-teal: #4d96a9;
  --light-teal: #8fe6f9;
  --dark-purple: #855fb1;
  --light-purple: #d9b8ff;
  --dark-grey: #28283d;
  --light-grey: #87879d;
  --white: #fafafa;
  /* font sizes */
  --primary-header-desktop: 64px;
  --secondary-header-desktop: 40px;
  --text-desktop: 18px;
  --primary-header-mobile: 44px;
  --secondary-header-mobile: 32px;
  --text-mobile: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Extra small devices (mobiles, 600px and down) */

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: var(--text-mobile);
  line-height: 26px;
  color: var(--light-grey);
  background-color: #f2f2f2;
}

.navbar {
  padding: 44px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}

.header-image-container-left {
  margin-bottom: 48px;
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.header-image-mobile {
  width: 110%;
  height: 100%;
  object-fit: cover;
}

.header-image-desktop-left {
  display: none;
}

.header-image-container-right {
  display: none;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  font-size: var(--primary-header-mobile);
  line-height: 44px;
  text-align: center;
  color: var(--dark-grey);
  font-weight: 900;
  margin-bottom: 24px;
}

.header-text {
  width: 80%;
  text-align: center;
  margin-bottom: 16px;
}

.header-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 16px 40px;
  font-weight: 900;
  font-family: "Red Hat Display", sans-serif;
  font-size: var(--text-mobile);
  border-radius: 29px;
  color: var(--white);
  margin: 16px;
  cursor: pointer;
}

.small {
  font-size: var(--text-mobile);
  font-weight: 900;
}

.button-primary {
  background-color: var(--dark-teal);
  border: 1px solid var(--dark-teal);
}

.button-primary:hover {
  background-color: #71c0d4;
  border: 1px solid #71c0d4;
}

.button-primary-small {
  color: #8fe3f9;
}

.button-secondary-small {
  color: #d9b8ff;
}

.button-secondary {
  background-color: var(--dark-purple);
  border: 1px solid var(--dark-purple);
}

.button-secondary:hover {
  background-color: #b18bdd;
  border: 1px solid #b18bdd;
}

.separator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}

.horizontal-line {
  height: 84px;
  width: 1px;
  background-color: rgba(135, 135, 157, 25%);
}

.circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: 1px solid rgba(135, 135, 157, 25%);
  font-weight: 900;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-image {
  margin: 12px;
  width: 150px;
  height: 143px;
  border-radius: 20px;
}

.section-subtitle {
  font-weight: 900;
  color: var(--dark-teal);
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 52px 0 24px 0;
}

.section-header {
  font-size: var(--secondary-header-mobile);
  line-height: 36px;
  color: var(--dark-grey);
  text-align: center;
  margin-bottom: 32px;
  font-weight: 900;
  width: 90%;
}

.section-text {
  width: 90%;
  text-align: center;
  margin-bottom: 36px;
}

.second-separator {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  bottom: -28px;
}

.second-section {
  background: url(./assets/mobile/image-footer.jpg);
  background-size: cover;
  position: relative;
  padding: 92px 60px 60px 60px;
}

.second-section > * {
  z-index: 1;
  color: var(--white);
  margin: 0 0 32px 0;
}

.second-section > .button-secondary {
  z-index: 1;
  color: var(--white);
  margin: 0;
}

.second-section::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--dark-teal);
  opacity: 85%;
}

footer {
  padding: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--dark-teal);
  cursor: pointer;
}

a:hover {
  color: #71c0d4;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header-container {
    margin-bottom: 72px;
  }

  .header-title {
    font-size: 48px;
    line-height: 48px;
    width: 50%;
  }

  .header-text {
    width: 50%;
  }

  .header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-image-mobile {
    width: 110%;
  }

  .section-image {
    width: 164px;
    height: 156px;
  }

  .section-subtitle {
    margin: 36px 0 16px 0;
  }

  .section-header {
    font-size: var(--secondary-header-desktop);
    line-height: 44px;
    width: 50%;
  }

  .section-text {
    width: 80%;
    margin-bottom: 80px;
  }

  .second-section {
    background-image: url(./assets/tablet/image-footer.jpg);
  }

  .second-section > .section-header {
    font-size: 40px;
  }

  .second-section > .section-text {
    margin-bottom: 40px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: var(--text-desktop);
  }

  .navbar {
    padding: 80px 0 61px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-image-mobile {
    display: none;
  }

  .header-image-container-left {
    margin: 0;
    width: auto;
    height: 350px;
    align-items: flex-start;
  }

  .header-image-desktop-left {
    display: block;
    position: relative;
    left: -30px;
  }

  .header-image-container-right {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    height: 350px;
  }

  .header-image-desktop-right {
    display: block;
    position: relative;
    right: -30px;
  }

  .header-title {
    width: 80%;
    font-size: var(--primary-header-desktop);
    line-height: 64px;
    margin-bottom: 34px;
  }

  .header-text {
    width: 80%;
  }

  .button {
    font-size: var(--text-desktop);
    margin-bottom: 0;
  }

  .section-images {
    width: 80%;
    justify-content: center;
  }

  .section-image {
    width: 255px;
    height: 242px;
    margin: 15px;
  }

  .section-subtitle {
    margin: 65px 0 16px 0;
  }

  .section-header {
    width: 30%;
  }

  .section-text {
    width: 30%;
    margin-bottom: 72px;
  }

  .second-section {
    background-image: url(./assets/desktop/image-footer.jpg);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 116px 165px 104px 165px;
  }

  .second-section > * {
    margin-bottom: 0px;
    text-align: left;
  }

  .second-section > .section-text {
    margin-bottom: 0px;
    width: 30%;
  }
}
